<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Przydziel pracownika do szkody</h2>

        <div class="select">
            <select>
              <option>--wybierz pracownika--</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
            <div class="select-arrow"></div>
        </div>

        <form class="form">       
            <label for="empNumber">Numer pracownika:</label>
            <input type="number" name="empNumber" id="empNumber" disabled="true">
            <span></span>
        </form>    
    
        <div class="select">
            <select>
              <option>--wybierz szkodę--</option>
              <option>Szkoda nr. 1</option>
              <option>Szkoda nr. 2</option>
              <option>Szkoda nr. 3</option>
            </select>
            <div class="select-arrow"></div>
        </div>

        <form class="form">
            
            <label for="claimNumber">Numer szkody:</label>
            <input type="number" name="claimNumber" id="claimNumber" disabled="true">
            <span></span>
            
            <label for="claimDate">Data:</label>
            <input type="date" name="claimDate" id="claimDate" disabled="true">
            <span></span>
            
            <label for="claimValue">Wartość:</label>
            <input type="number" name="claimValue" id="claimValue" disabled="true">
            <span></span>
            
            <label for="claimCause">Przyczyna:</label>
            <input type="text" name="claimCause" id="claimCause" disabled="true">
            <span></span>

            <div class="form-buttons">
                <input type="submit" value="Przydziel" class="form-button-submit" a href="/employees" />
                <a href="/employees" class="form-button-cancel">Anuluj</a>    
            </div> 
        </form>

    </main>

    <%- include('../../fragments/footer.ejs') %> 
    
</body>
</html>

